nav{
  background-color: #ff0000;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  max-width: 900px;
	
}

.list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
	
}

li {
  position: relative;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
	font-family: 'Righteous', cursive !important;
	font-size: x-large;
	font-weight: 200;
}

.navigation a {
  color: #000000;
  text-decoration: none;
}

.navigation a:hover {
  color: #ff0000;
}

.navigation:hover {
  background-color: rgb(255, 251, 0);
}


 