
* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: rgb(255, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11em;
  width: 100%;
  margin-top: 15px;
}
.title {
  font-size: 65px;
  color: rgb(255, 251, 0);
  width: 800px;
  text-shadow: #000 8px 8px 5px;
}

.logo > img {
  height: 150px;
  width: 150px;
  margin: 60px 130px 50px 30px;
  border-radius: 52px 52px 52px 52px;
  box-shadow: #000 8px 8px 5px;
}

@media (max-width: 767px) {
  /* Define a propriedade display da div como "none" */
  .logo > img {
    display: none;
  }
  .title {
    font-size: 35px;
    max-width: max-content;
  }
}

.logoContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 250px;
}