
.cartBg {
  background-color: rgb(255, 251, 0);
  width: 120px;
  height: 120px;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .5s;
}

.cartBg:hover {
  width: 135px;
  height: 135px;
  justify-content: center;
  transition: .5s;
  transition-duration: .5s;
}

.cartLogo {
  width: 80px;
  height: 80px;
  transition-duration: .5s;
  background-color: rgb(255, 251, 0);
  margin: -5px;
}

.cartLogo:hover {
  width: 90px;
  height: 90px;
  transition: .5s;
  transition-duration: .5s;
}