.container-principal {
  width: 100%;
  background-color: #FCF6EA;
  padding-top: 10px;
}

.imagem-gatos01 img {
  float: right;
  width: 80vh;
  border-radius: 50px;
  margin-top: 100px;
  margin-right: 2em;
  margin-left: 2em;
  box-shadow: 5px 5px 10px rgb(7, 7, 7);
}

.imagem-gatos02 img {
  float: left;
  width: 80vh;
  border-radius: 50px;
  margin-top: 15em;
  margin-right: 2em;
  margin-left: 2em;
  box-shadow: 5px 5px 10px rgb(7, 7, 7);
}


.subtitulo {
  text-align: center;
  font-size: 3em;
  margin-top: 2em;
  text-shadow: 2px 2px 3px rgb(145, 143, 143);
}

.texto01 {
  text-align: left;
  font-size: 30px;
  padding-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 2;
}

.texto02 {
  text-align: right;
  font-size: 30px;
  margin-top: 12em;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 2;
}

.ending {
  text-align: center;
  font-size: xx-large;
  text-transform: capitalize;
  padding-top: 5em;
  
}

@media screen and (max-width: 768px) {
  .titulo {
    font-size: 40px; /* Reduzimos o tamanho do título para telas menores */
    font-family: bubbleEb;
  }

  .subtitulo {
    font-size: 2em; /* Reduzimos o tamanho do subtítulo para telas menores */
    padding-left: 20px; /* Ajustamos o espaçamento lateral */
    text-align: center;
    text-transform: capitalize;
    margin: 0.5em;
    
  }

  .texto01 {
    text-align: justify;
    font-size: 24px; /* Reduzimos o tamanho do texto para telas menores */
    padding-top: 30px; /* Ajustamos o espaçamento superior */
  }

  .texto02 {
    margin-top: 1em;
    text-align: justify;
    font-size: 24px; /* Reduzimos o tamanho do texto para telas menores */
    
  }

   .imagem-gatos01 img{
    float: none; /* Removemos o float para centralizar a imagem em telas menores */
    width: 90%; /* Ajustamos a largura da imagem para ocupar 100% do espaço disponível */
    max-width: 100%; /* Removemos a largura máxima para que a imagem ocupe o espaço total */
    margin:20px; /* Centralizamos a imagem horizontalmente e adicionamos espaçamento vertical */
    padding: 0px; /* Reduzimos o padding para ajustar o espaçamento interno */
  }

  
  .imagem-gatos02 img {
    float: none; /* Removemos o float para centralizar a imagem em telas menores */
    width: 90%; /* Ajustamos a largura da imagem para ocupar 100% do espaço disponível */
    max-width: 100%; /* Removemos a largura máxima para que a imagem ocupe o espaço total */
    margin:20px; /* Centralizamos a imagem horizontalmente e adicionamos espaçamento vertical */
    padding: 0px; /* Reduzimos o padding para ajustar o espaçamento interno */
  }
}