.containerprincipal {
  display: grid;
  align-items: center;
  justify-content: center;
}

 .racao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  padding-top: 5em;
 }

 .racao img {
  width: 35em;
  height: 35em;
  border-radius: 500px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.582);
 }

 .racao p{
  text-align: center;
  padding: 1em;
  font-size: xx-large;
 }

 .sub {
  font-size: xx-large;
  font-weight: bolder;
 }


 .cobertor {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  
 }

 .cobertor img {
  width: 35em;
  height: 35em;
  border-radius: 500px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.582);
 }

 .cobertor p{
  text-align: center;
  padding: 1em;
  font-size: xx-large;
 }

 .tampinhas {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 2em;
  
 }


 .tampinhas img {
  width: 100%;
  height: 35em;
  border-radius: 30px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.582);
 }

 .tampinhas p{
  text-align: center;
  padding: 1em;
  padding-top: 1em;
  font-size: xx-large;
 }

 .tampinhas h1 {
  text-align: center;
  background-color: #AD0F0F;
  color: #FCF6EA;
  padding: 20px;
  
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .lista {
  display: flex;
  gap: 50px;
  margin-top: 4em;
}

.lista > div {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
}

.lista h2 {
  background-color: #f0f0f0;
  padding: 5px;
  margin: 0;
}

.lista ul {
  list-style-type: disc; /* Utilizamos 'disc' para criar bolinhas nas listas */
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
}

.lista li {
  margin-bottom: 5px;
  margin: 10px;
}