
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que a altura mínima da página seja igual à altura da viewport */
}

.content {
  flex: 1; /* Faz com que o conteúdo principal ocupe o espaço disponível */
  padding-bottom: 40px; /* Ajuste o valor conforme necessário para dar espaço ao rodapé */
}

.rodape {
  background-color: #AD0F0F;
  border-top: 2px solid #333;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .content {
    padding-bottom: 20px; /* Reduzimos o espaço no conteúdo para dar mais espaço ao rodapé */
  }

  .rodape {
    font-size: 14px; /* Reduzimos o tamanho da fonte para telas menores */
  }
}