
.rodape {
  background-color: #AD0F0F;
  border-top: 2px solid #333;
  position: relative;
  width: 100%;
  height: 30vh;
  display: grid;
  align-items: center;
  justify-content: space-around;
}

.rodape img {
  height: 60px;
  width: 60px;
}

.rodape .social a {
  margin: 0 10px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dGitHub a {
  text-decoration: none;
  color: #FCF6EA;
  font-size: large;
}

.dGitHub p {
  color: rgb(186, 216, 130);
  font-size: large;
}